<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Slinky the DatONE Graph</title>
      <link href="/static/css/base.css" rel="stylesheet" type="text/css">
      <link href="/static/css/index.css" rel="stylesheet" type="text/css">
      <link href="/static/css/yasgui.min.css" rel="stylesheet" type="text/css" />
      <script src="/static/resources/yasgui.min.js"></script>
  </head>

  <body>
    <div class="banner">
        <div class="banner-items">
          <img class='logo' src="../static/logo.webp" alt="Logo">
          <div class="banner-items">
              <a href="{{deployment_base}}/">Home</a>
              <a href="#">Data</a>
              <a href="#">News & Releases</a>
              <a href="#">About</a>
          </div>
        </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
